.nav-item {
  animation: zoomIn 1s;
}

.zoomIn {
  animation: zoomIn 1s;
}
.slide-down {
  animation: slideDown 1s ease-in-out; 
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0); 
  transition: box-shadow 0.3s ease; 

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
  }
}
