<article
  class="post d-flex flex-column gap-2 rounded-2 overflow-hidden bg-white w-100"
>
  <div
    class="user-section d-flex gap-3 align-items-center border-bottom pb-2 flex-wrap"
  >
    <div class="avatar border border-1">
      <img class="img-fluid" src="https://picsum.photos/200/200" />
    </div>
    <div class="info">
      <h6 class="m-0">Mahmoud Meky</h6>
      <span class="text-muted small">mahmoudmeky2017@gmail.com</span>
    </div>
  </div>

  <div class="">
    <h6 class="text-primary m-0">{{ postInformation.title }}</h6>
    <p class="m-0">
      {{ postInformation.body | slice : 0 : 100 }}
    </p>
  </div>
  <div>
    <img
      src="https://picsum.photos/1200/600"
      class="post-image"
      loading="lazy"
    />
  </div>
  <div
    class="footer d-flex align-items-center flex-wrap justify-content-center justify-content-sm-between gap-0 ga-md-2"
  >
    <!-- <span class="text-muted small">12 Comments</span> -->
    <button class="btn text-danger text-start px-1" (click)="showComments()">
      {{ areCommentsHidden ? "Show Comments" : "Hide Comments" }}
    </button>
  </div>
  <div *ngIf="!areCommentsHidden">
    <app-comment
      *ngFor="let comment of comments"
      [commentDetails]="comment"
    ></app-comment>
  </div>
</article>
