.post {
  box-shadow: 10px 10px 15px #eee;

  padding: 1rem;
  animation: fadeUp 1.2s ease-in-out;

  &:hover {
    box-shadow: 10px 10px 15px #ccc;
  }
  .user-section {
    .avatar {
      width: 65px;
      height: 65px;
      background-color: #eee;
      border-radius: 50%;
      overflow: hidden;
    }
    .info {
      overflow-wrap: anywhere;
      // flex: 1;
      // background-color: red;
    }
  }

  .post-image {
    // background-color: red;
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    height: 140px;

    @media (min-width: 768px) {
      height: 340px;
    }
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
